# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [3]:
number_1 = 104
number_2 = 104
print (f"number one = {number_1}, number two = {number_2}")

number_1 = 10
print (f"number one = {number_1}, number two = {number_2}")

number one = 104, number two = 104
number one = 10, number two = 104

Після зміни значення однієї змінної, значення іншої не змінилося, отже це не посилання на один і той самий об'єкт в памя'ті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [8]:
x = True
print(isinstance(x,bool))

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [9]:
x = 20
y = 5.5
print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x//y)
print(x%y)
print(x**2)

25.5
14.5
3.6363636363636362
110.0
3.0
3.5
400

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [15]:
y = int(y)
print(y)

z = False
z = int(z)
print(z)

5
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [24]:
str_1 = ""
str_2 = str()

<class 'str'>

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [27]:
str_var = 'String with \' '
print(str_var)

str_var = r'String with \' '
print(str_var)

String with '
String with \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [28]:
surname = "Vyhovskyi"
print(f"My surname is {surname}")

My surname is Vyhovskyi

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [36]:
str_var = "My dog is crazy"
word_list = str_var.split()
print(word_list)

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [44]:
list_var1 = list((1,2,3,4))
list_var2 = [1,2,3,4,5]
print(list_var1)
print(list_var2)
print(f"length of the second list = {len(list_var2)}")

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
length of the second list = 5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [46]:
list_var1 = [1,2,3]
list_var2 = [3,4,5]
list_var1.append(list_var2)
print(list_var1)

[1, 2, 3, [3, 4, 5]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [53]:
list_var = [1,2,3,[1,7], [9,5,6]]
first_element = list_var[len(list_var)-1][0]
print(first_element)

9

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [69]:
list_var = [1, 2.5,True,"string", [1,2], (3,4), {5,6}, 5j+8, {"key": "value"}]
new_list_var = list_var[2:-2]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [71]:
tuple_var = (1)

1

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список визначається за допомогою квадратних дужок, може змінюватись. Кортеж оголошується круглими дужками, є незмінним. Список використовується де не потрібна висока швидкість та потрібно змінювати його елементи. Кортеж використовується де необхідна висока швидкість і немає потреби змінювати елементи.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [91]:
tuple_var = (1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 10.10, 11.11)
print(tuple_var[::-1][0:-1:2])

(11.11, 9.9, 7.7, 5.5, 3.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [97]:
set_var = set()
set_var.add(1)
set_var.add(2)
set_var.add(1)
set_var.add("abab")
print(set_var)

{'abab', 1, 2}

Так, множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [99]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Тому що множина містить лише унікальні елементи

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [103]:
A = {1,2,3}
B = {2,3,5}
print(A | B)
print(A & B)
print(A - B)
print(A ^ B)

{1, 2, 3, 5}
{2, 3}
{1}
{1, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [116]:
dict_var = dict()
dict_var.update({"key": "value1", 5 : "value2", (1,2) : "value3", False : "value4"})

{'key': 'value1', 5: 'value2', (1, 2): 'value3', False: 'value4'}

Список не може бути ключем, оскільки він є змінним а ключі в словниках повинні бути незмінними

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [119]:
dict_var = {123:"value", 567:{"key" : "453"}}
print(dict_var[567]["key"])

453

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.